<!doctype html>
<html class="no-js" ng-app="lowcarbonhubApp" ng-controller="mainController as $ctrl">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title ng-bind-html="$ctrl.pageTitle()">LCH Interactive</title>
    <meta name="description" content="{{$ctrl.pageDescription()}}">
    <meta name="viewport" content="width=device-width">

    <!-- build:css({.tmp,client}) app/critical.css -->
    <link rel="stylesheet" href="app/critical.css">
    <!-- endbuild -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="main-header">
      <div class="logo-section">
        <h1 class="main-title">
          <a href="/"><img src="/assets/images/logo.svg" title="PEOPLE'S POWER STATION"></a>
        </h1>
        <h2 class="strapline">An energy system you can feel good about, for Oxfordshire and the UK.</h2>
      </div>

      <div class="search">
        <ui-select title="Search by project"
          ng-model="$ctrl.searchInstallation"
          on-select="$ctrl.filterFreeText($item)">
          <ui-select-match allow-clear="true"
            placeholder="Search by project">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="installation in $ctrl.map.installations | filter: $select.search">
            <span ng-bind-html="installation.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>

        <button class="filter-toggle"
          ng-class="{'filter-toggle--on': $ctrl.showFilters}"
          ng-click="$ctrl.showFilters = !$ctrl.showFilters">
          <span class="filter-toggle__choice">or use our search filter</span>
          <span class="filter-toggle__choice filter-toggle__choice--close">Close search filter</span>
        </button>
      </div>
    </header>

    <section class="main" ui-view="">
      <div class="main-content">
        <header class="intro-text">
          We're mapping renewable energy projects across Oxfordshire, starting
          with installations belonging to the Low Carbon Hub and some of our partners.
        </header>

        <p>
          We have
          <span class="large-text" ng-bind-html="$ctrl.getFilteredInstallations()">39</span>
          installations plugged into the People's Power Station so far. Together they can generate
          <span class="large-text" ng-bind-html="$ctrl.getFilteredTotalYearlyGeneration()">
          1.74 <span class="units">MWh</span></span> each year - enough to meet
          <span class="large-text" ng-bind-html="4521 | number">4,521</span>
          people's share of Oxfordshire's energy demands.
        </p>

        <p>Explore the map to find what's happening near you.</p>
      </div>
    </section>

    <div class="filters"
      ng-class="{'filters--visible': $ctrl.showFilters}">
      <div class="filters__options">
        <h4>Geography</h4>
        <label class="column">
          <input type="radio" name="local-authorities"
            value="all"
            checked="checked"
            ng-model="$ctrl.filtersChosen.localAuthorities"
            ng-change="$ctrl.filterInstallations(); $ctrl.loadAreaJSON(localAuthority.name)">
          <span></span>
          All
        </label>

        <p class="filters__hint">or by a local authority area</p>

        <label class="column"
         ng-repeat="localAuthority in $ctrl.filtersAvailable.localAuthorities | orderBy:'name'">
          <input type="radio" name="local-authorities"
            value="{{localAuthority.name}}"
            ng-model="$ctrl.filtersChosen.localAuthorities"
            ng-change="$ctrl.filterInstallations(); $ctrl.loadAreaJSON(localAuthority.name)">
          <span></span>
          {{localAuthority.name}}
        </label>

        <label for="postcode" class="filters__hint">or your can search near</label>
        <input id="postcode" class="postcode-seach" placeholder="your postcode"
          ng-change="$ctrl.setCoords($ctrl.address)"
          ng-model="$ctrl.address">

        <h4>Ownership</h4>
        <label class="column">
          <input type="radio" name="ownership"
            ng-model="$ctrl.filtersChosen.ownership"
            value="all"
            ng-change="$ctrl.filterInstallations()">
          <span></span>
          All
        </label>
        <label class="column"
         ng-repeat="ownership in $ctrl.filtersAvailable.ownership | orderBy:'name'">
          <input type="radio" name="ownership" value="{{ownership.name}}"
            ng-model="$ctrl.filtersChosen.ownership"
            ng-change="$ctrl.filterInstallations()">
          <span></span>
          {{ownership.name}}
        </label>

        <div ng-hide="$ctrl.filtersAvailable.ownershipType.length < 2">
        <h4>Ownership Type</h4>
        <label class="inline">
          <input type="radio" name="ownershipType" value="all"
            ng-model="$ctrl.filtersChosen.ownershipType"
            ng-change="$ctrl.filterInstallations()">
          <span></span>
          All
        </label>
        <label class="inline"
         ng-repeat="type in $ctrl.filtersAvailable.ownershipType | orderBy:'name'">
          <input type="radio" name="ownershipType" value="{{type.name}}"
            ng-model="$ctrl.filtersChosen.ownershipType"
            ng-change="$ctrl.filterInstallations()">
          <span></span>
          {{type.name}}
        </label>
        </div>

        <h4>Energy Type</h4>
        <label class="inline">
          <input type="radio" name="energyTypes" value="all"
            ng-model="$ctrl.filtersChosen.energyType"
            ng-change="$ctrl.filterInstallations()">
          <span></span>
          All
        </label>
        <label class="inline"
         ng-repeat="type in $ctrl.filtersAvailable.energyTypes | orderBy:'name'">
          <input type="radio" name="energyTypes" value="{{type.name}}"
            ng-model="$ctrl.filtersChosen.energyType"
            ng-change="$ctrl.filterInstallations()">
          <span></span>
          {{type.name}}
        </label>
      </div>
    </div>

    <section class="map-section">
      <leaflet class="map"
        markers="$ctrl.map.installations"
        defaults="$ctrl.map.defaults"
        bounds="$ctrl.map.bounds"
        geojson="$ctrl.map.geojson"></leaflet>
    </section>

    <section class="about">
      <h1>ABOUT THE PEOPLE’S POWER STATION</h1>
      <p>
        The database showcases the renewable energy projects belonging to the Low Carbon Hub and some
        of of our partners.  Plans are underway to plug in all Oxfordshire’s locally owned energy
        projects – watch this space!
      </p>

      <h2>POSITIVE ENERGY</h2>

      <p>A new kind of energy is lighting up schools, homes and businesses all over Oxfordshire: it’s renewable,
        locally-owned and developed for community benefit.</p>

      <h2>THE PEOPLE’S POWER STATION: Positive Energy in Real Time</h2>
      <p>The People’s Power Station is an online, live generation platform that allows us to show the contribution
        this ‘positive energy’ is making to Oxfordshire. To kick off the People’s Power Station, we have
        plugged in live generation data from:</p>

      <ul>
        <li>The Low Carbon Hub community energy projects</li>
        <li>Several community-owned energy projects such as Osney Lock Hydro and Oxford North Community Renewable
          Energy</li>
        <li>Oxford City Council’s portfolio of renewable energy</li>
      </ul>

      <p>As the project develops we’ll be plugging in more locally renewable energy generation to show the growing
        impact of local energy to help meet our energy needs. Our aim is to work with everyone across Oxfordshire
        to plug in all renewable generation across the County.</p>

      <p>The project is still in development, so if you have any questions, feedback or suggestions, or would
        like your project to feature in the next phase, please email us at info@lowcarbonhub.org.uk</p>

      <p>Of course, powering up is just part of the solution. We also need to be working together to drive down
        our energy use – so that it takes less energy to power Oxfordshire. As we get more efficient, the
        energy need reduces, so the energy generated by the people’s power station will power more people.
        So, whether an energy generator or energy user, we are all part of the People’s Power Station.</p>

      <h3>Data sources</h3>
      <p><strong>Live data</strong>: The real time energy generation figures come from the live data feeds directly
      linked to our sites. Where no live data is available, we have estimated a generation output based on
      the overall capacity of the site and the known live generation of other sites. [caveat here to explain
      it is ‘almost’ live’ and to clarify how live it is]
      <strong>People powered</strong>: to calculate this we divide the total energy consumption by Oxfordshire’s
      domestic, commercial and industrial sectors, by the current population, giving a figure that represents
      a per capita share of Oxfordshire’s direct energy use.
      <strong>CO2 intensity</strong>: We are using DEFRA/DECCs Carbon intensity of electricity for the current
      year, expressed as CO2 equivalent. The number of energy consumption come from: More info here</p>

      <h2>About the Low Carbon Hub</h2>
      <p>The Low Carbon Hub is an award-winning social enterprise, working for a massive change in the UK's energy
      system. We think we need to get much more local about our energy system, and much more renewable, so
      that the benefits of renewable energy generation strengthen local communities.  We develop community-owned
      renewable energy in Oxfordshire and re-invest 100% of our own surplus in our mission to create an energy
      system we can all feel good about. If you have a community energy project you would like to talk to
      us about <a href="http://www.lowcarbonhub.org/contact">please contact us</a></p>
      <h2>About DIAS</h2>
      <p>DIAS are a digital design studio, telling interactive stories for good. If you have an interactive
      project you would like to collaborate on, please email, tweet or call them +44 20 3287 5828.</p>

      Toaster:
      http://www.absak.com/library/power-consumption-table Kettle: http://www.frequencycast.co.uk/howmanywatts.html
      LED TV: http://energyusecalculator.com/electricity_lcdleddisplay.htm Fridge-freezer: http://www.inference.eng.cam.ac.uk/sustainable/book/tex/sewtha.pdf
      (p50) Tesla Model S (travelling at 65mph): http://en.wikipedia.org/wiki/Tesla_Model_S Source code can
      be found on GitHub.
    </section>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
      <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
      <script src="bower_components/sprintf/src/sprintf.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-ui-select/dist/select.js"></script>
      <script src="bower_components/slug/slug.js"></script>
      <script src="bower_components/chart.js/dist/Chart.min.js"></script>
      <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/installation/installation.controller.js"></script>
      <script src="app/installation/installation.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
  </body>
</html>
