.ui-select-container
  position relative

.ui-select-match
  .btn.btn-xs.btn-link.pull-right
    background #fff
    cursor pointer
    height 10px
    margin-top -10px
    position absolute
    right 0
    top 50%
    width 10px

    &:before
      content 'x'

.ui-select-bootstrap
  > .ui-select-choices
    background #fff
    border solid 1px $color-tertiary
    border-top solid 1px blend(rgba($color-tertiary, .4), #fff)
    box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
    clip rect(0, 300px, 210px, -10px)
    height auto
    margin-top -1px
    max-height 200px
    overflow-x hidden
    position absolute
    width 100%

  > .ui-select-no-choice
    background #fff

  .ui-select-choices-row
    > span
      clear both
      cursor pointer
      display block
      padding 3px 20px
      white-space nowrap

      &:hover
      &:focus
        background-color #f5f5f5
        color #262626
        text-decoration none

  .ui-select-match-text
    display inline-block
    max-width 175px
    padding-right 16px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap


.ui-select-offscreen
  border 0 !important
  clip rect(0 0 0 0) !important
  height 1px !important
  left 0px !important
  margin 0 !important
  outline 0 !important
  overflow hidden !important
  padding 0 !important
  position absolute !important
  top 0px !important
  width 1px !important
