.installation-title
  color #fff
  font 30px/34px $font-secondary

.installation-stats
  font-size 0

.installation-stat
  display inline-block
  font-size 14px
  line-height 17px
  margin 0 10px 0 0
  vertical-align top
  width calc(50% - 10px)

  &:nth-of-type(2n)
    margin 0 0 0 10px

.installation-description
  font-size 14px
  line-height 17px

.main-content .installation__social-link
  border 0
  margin 0 0 0 20px

