<div class="filters" ng-class="{'filters--expanded': $ctrl.isFiltersExpanded}">
  <h1 class="logo"><img src="/assets/images/logo.svg" height="90px" width="90px" alt="low carbon hub"></h1>

  <h1 class="main-title">PEOPLE'S POWER STATION</h1>
  <h2 class="strapline">An energy system you can feel good about, for Oxfordshire and the UK.</h2>

  <p class="intro-text">
    Search the People's Power Station to explore locally owned renewable energy in Oxfordshire.
  </p>

  <button class="filters__toggle" ng-click="$ctrl.toggleFilters()">Show me by:</button>

  <div class="filters__options">
    <h4>Geography</h4>
    <label ng-repeat="localAuthority in $ctrl.filtersAvailable.localAuthorities | orderBy:'name'">
      <input type="checkbox" name="local-authorities"
        ng-model="localAuthority.checked"
        ng-change="$ctrl.filterInstallations()">
      {{localAuthority.name}}
    </label>

    <h4>Ownership</h4>
    <label ng-repeat="ownership in $ctrl.filtersAvailable.ownership | orderBy:'name'">
      <input type="checkbox" name="ownership"
        ng-model="ownership.checked"
        ng-change="$ctrl.filterInstallations()">
      {{ownership.name}}
    </label>

    <h4>Ownership Type</h4>
    <label ng-repeat="type in $ctrl.filtersAvailable.ownershipType | orderBy:'name'">
      <input type="checkbox" name="ownershipType"
        ng-model="type.checked"
        ng-change="$ctrl.filterInstallations()">
      {{type.name}}
    </label>

    <h4>Energy Type</h4>
    <label ng-repeat="type in $ctrl.filtersAvailable.energyTypes | orderBy:'name'">
      <input type="checkbox" name="energyTypes"
        ng-model="type.checked"
        ng-change="$ctrl.filterInstallations()">
      {{type.name}}
    </label>
  </div>
</div>

<div class="stats">
  Together,
  {{$ctrl.copyOwnershipType()}}
  in
  {{$ctrl.copyArea()}}
  is currently generating:

  <div class="large-text">{{$ctrl.getFilteredTotalGeneration()}}W</div>

  from

  {{$ctrl.getFilteredInstallations()}} installations
</div>

<div class="map-section">
  <leaflet class="map"
    markers="$ctrl.map.installations"
    defaults="$ctrl.map.defaults"
    geojson="$ctrl.map.geojson"></leaflet>
</div>
