<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Filter</h1>

      <h2>Geography</h2>
      <label ng-repeat="localAuthority in $ctrl.filtersAvailable.localAuthorities | orderBy:'name'">
        <input type="checkbox" name="local-authorities"
          ng-model="localAuthority.checked"
          ng-change="$ctrl.filterInstallations()">
        {{localAuthority.name}}
      </label>

      <h2>Ownership</h2>
      <label ng-repeat="ownership in $ctrl.filtersAvailable.ownership | orderBy:'name'">
        <input type="checkbox" name="ownership"
          ng-model="ownership.checked"
          ng-change="$ctrl.filterInstallations()">
        {{ownership.name}}
      </label>

      <h2>Ownership Type</h2>
      <label ng-repeat="type in $ctrl.filtersAvailable.ownershipType | orderBy:'name'">
        <input type="checkbox" name="ownershipType"
          ng-model="type.checked"
          ng-change="$ctrl.filterInstallations()">
        {{type.name}}
      </label>

      <h2>Energy Type</h2>
      <label ng-repeat="type in $ctrl.filtersAvailable.energyTypes | orderBy:'name'">
        <input type="checkbox" name="energyTypes"
          ng-model="type.checked"
          ng-change="$ctrl.filterInstallations()">
        {{type.name}}
      </label>

      Together,
      community energy
      in Oxfordshire is currently generating:
      {{$ctrl.getFilteredTotalGeneration()}}

      from

      {{$ctrl.getFilteredInstallations()}}
    </div>
    <div class="col-md-6">
      <leaflet
        style="float: right; height: 800px; width: 100%"
        markers="$ctrl.map.installations"
        defaults="$ctrl.map.defaults"
        geojson="$ctrl.map.geojson"></leaflet>
    </div>
  </div>
</div>
