@font-face
  font-family FrankfurterSB
  font-weight normal
  src url(/assets/fonts/FrankfurterSB-Bold.eot)
  src url(/assets/fonts/FrankfurterSB-Bold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/FrankfurterSB-Bold.woff2) format('woff2'), url(/assets/fonts/FrankfurterSB-Bold.woff2) format('woff2'), url(/assets/fonts/FrankfurterSB-Bold.woff) format('woff'), url(/assets/fonts/FrankfurterSB-Bold.ttf) format('truetype')

@font-face
  font-family LetteraTextStd
  font-weight normal
  src url(/assets/fonts/LetteraTextStd-Bold.eot)
  src url(/assets/fonts/LetteraTextStd-Bold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/LetteraTextStd-Bold.woff2) format('woff2'), url(/assets/fonts/LetteraTextStd-Bold.woff2) format('woff2'), url(/assets/fonts/LetteraTextStd-Bold.woff) format('woff'), url(/assets/fonts/LetteraTextStd-Bold.ttf) format('truetype')

/* Typography */
$font-primary = 'LetteraTextStd', serif
$font-secondary = 'FrankfurterSB', sans-serif

/*
 * Layout
 */
body,
html
  margin 0
  padding 0

body
  background #fff
  color #9B9B9B
  font 14px/18px $font-primary
  text-rendering geometricPrecision

*
  box-sizing border-box

h1
h2
h3
h4
h5
  font normal normal 18px/22px $font-secondary
  letter-spacing .3px

/*
 * Filters
 */
.logo
  left 30px
  position absolute
  top 30px

.filters
  background rgba(#fff, .95)
  box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
  left 0
  height 100vh
  max-height 100vh
  max-width 475px
  padding 30px 32px 20px 140px
  position absolute
  top 0
  width 100%
  z-index 100

label
  display block

/*
 * Stats
 */
.stats
  background rgba(#00748D, .94)
  box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
  color #fff
  font 22px/26px $font-secondary
  max-width 430px
  padding 16px 18px
  position absolute
  right 30px
  top 30px
  width 100%
  z-index 300

/*
 * Map
 */

$animation-timing = .3s

.map-section
  height 100vh
  padding 20px
  position relative
  width 100%

.map
  height 100%
  width 100%

.leaflet-marker-icon
  background transparent
  border 0
  opacity .8

  &:before
    background url(/assets/images/marker.svg) 0 0 no-repeat
    background-size 30px 45px
    content ''
    display block
    height 100%
    position absolute
    transition transform cubic-bezier(.68, -.55, .265, 1.55) $animation-timing
    transform-origin 50% 100%
    width 100%
    will-change transform

  &--hidden
    opacity 0
    visibility hidden
    transition opacity 1ms $animation-timing, visibility 1ms $animation-timing

    &:before
      transform scale(0, 0)
