@font-face
  font-family FrankfurterSB
  font-weight normal
  src url(/assets/fonts/FrankfurterSB-Bold.eot)
  src url(/assets/fonts/FrankfurterSB-Bold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/FrankfurterSB-Bold.woff2) format('woff2'), url(/assets/fonts/FrankfurterSB-Bold.woff2) format('woff2'), url(/assets/fonts/FrankfurterSB-Bold.woff) format('woff'), url(/assets/fonts/FrankfurterSB-Bold.ttf) format('truetype')

@font-face
  font-family LetteraTextStd
  font-weight normal
  src url(/assets/fonts/LetteraTextStd-Bold.eot)
  src url(/assets/fonts/LetteraTextStd-Bold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/LetteraTextStd-Bold.woff2) format('woff2'), url(/assets/fonts/LetteraTextStd-Bold.woff2) format('woff2'), url(/assets/fonts/LetteraTextStd-Bold.woff) format('woff'), url(/assets/fonts/LetteraTextStd-Bold.ttf) format('truetype')

/* Typography */
$font-primary = 'LetteraTextStd', serif
$font-secondary = 'FrankfurterSB', sans-serif
$font-color-primary = #9B9B9B
/* Colors */
$color-primary = #24CE7B
$color-secondary = #35BFAE

/*
 * Layout
 */
body,
html
  margin 0
  padding 0

body
  background #fff
  color $font-color-primary
  font 14px/18px $font-primary
  text-rendering geometricPrecision

*
  box-sizing border-box

h1
h2
h3
h4
h5
  color $font-color-primary
  font normal normal 18px/22px $font-secondary
  letter-spacing .3px
  margin 0
  padding 0

h4
  border-bottom solid 1px $font-color-primary
  margin 16px 0 10px
  padding 4px 0

.main-title
  color $color-primary
  font-size 34px
  letter-spacing .05px
  line-height 38px

.strapline
  color $color-primary
  font normal normal 14px/18px $font-primary
  letter-spacing 0
  max-width 280px

.intro-text
  border-top solid 1px $color-secondary
  color $color-secondary
  font 22px/22px $font-secondary
  letter-spacing 0.08px
  margin 26px 0
  padding 22px 0

.large-text
  font 42px/42px $font-secondary

div.large-text
  border-top 1px dashed #fff
  margin 10px 0
  padding 5px 0

/*
 * Filters
 */
.logo
  left 32px
  position absolute
  top 24px

.filters
  background rgba(#fff, .95)
  box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
  left 0
  max-height 100vh
  max-width 575px
  padding 30px 48px 20px 140px
  position absolute
  top 0
  width 100%
  z-index 100

  &__options
    position absolute
    opacity 0
    transform translateY(100%)
    transition opacity .3s, transform .3s
    visibility hidden

  &__toggle
    background 0
    border 0
    border-bottom 1px dashed $font-color-primary
    color $font-color-primary
    cursor pointer
    display block
    font 22px/22px $font-secondary
    margin 0 0 8px
    padding 8px 0
    text-align left
    width 100%

  &--expanded
    height 100vh

    .filters__options
      position relative
      opacity 1
      transform translateY(0)
      visibility visible

  label
    display block
    margin-bottom 4px

/*
 * Stats
 */
.stats
  background rgba(#00748D, .94)
  box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
  color #fff
  font 22px/26px $font-secondary
  max-width 430px
  padding 16px 18px
  position absolute
  right 30px
  top 30px
  width 100%
  z-index 300

/*
 * Map
 */

$animation-timing = .3s

.map-section
  height 100vh
  padding 20px
  position relative
  width 100%

.map
  height 100%
  width 100%

.leaflet-marker-icon
  background transparent
  border 0
  opacity .8

  &:before
    background url(/assets/images/marker.svg) 0 0 no-repeat
    background-size 30px 45px
    content ''
    display block
    height 100%
    position absolute
    transition transform cubic-bezier(.68, -.55, .265, 1.55) $animation-timing
    transform-origin 50% 100%
    width 100%
    will-change transform

  &--hidden
    opacity 0
    visibility hidden
    transition opacity 1ms $animation-timing, visibility 1ms $animation-timing

    &:before
      transform scale(0, 0)
