@font-face
  font-family FrankfurterSB
  font-weight normal
  src url(/assets/fonts/FrankfurterSB-Bold.eot)
  src url(/assets/fonts/FrankfurterSB-Bold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/FrankfurterSB-Bold.woff2) format('woff2'), url(/assets/fonts/FrankfurterSB-Bold.woff2) format('woff2'), url(/assets/fonts/FrankfurterSB-Bold.woff) format('woff'), url(/assets/fonts/FrankfurterSB-Bold.ttf) format('truetype')

@font-face
  font-family LetteraTextStd
  font-weight normal
  src url(/assets/fonts/LetteraTextStd-Bold.eot)
  src url(/assets/fonts/LetteraTextStd-Bold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/LetteraTextStd-Bold.woff2) format('woff2'), url(/assets/fonts/LetteraTextStd-Bold.woff2) format('woff2'), url(/assets/fonts/LetteraTextStd-Bold.woff) format('woff'), url(/assets/fonts/LetteraTextStd-Bold.ttf) format('truetype')

/* Typography */
$font-primary = 'LetteraTextStd', serif
$font-secondary = 'FrankfurterSB', sans-serif
$font-color-primary = #9B9B9B

/* Colors */
$color-primary = #24CE7B
$color-secondary = #35BFAE

/* Layout */
$filter-width = 435px

/* mediaqueries */
$widthMobile = 675px
$widthTablet = 1024px

$mobile = '(max-width: ' + ($widthMobile - 1) + ')'
$tablet = '(min-width: ' + ($widthMobile) + ') and (max-width: ' + ($widthTablet - 1) + ')'
$desktop = '(min-width: ' + $widthTablet + ')'

/*
 * Layout
 */
body,
html
  margin 0
  padding 0

body
  background #fff
  color $font-color-primary
  font 14px/18px $font-primary
  overflow auto
  overflow-y scroll
  text-rendering geometricPrecision

*
  box-sizing border-box

h1
h2
h3
h4
h5
  color $font-color-primary
  font normal normal 18px/22px $font-secondary
  letter-spacing .3px
  margin 0
  padding 0

h4
  border-bottom solid 1px $font-color-primary
  margin 16px 0 10px
  padding 4px 0

.main-title
  color $color-primary
  font-size 33px
  letter-spacing .05px
  line-height 33px

.strapline
  color $color-primary
  font normal normal 14px/18px $font-primary
  letter-spacing 0

.intro-text
  border-top solid 1px $color-secondary
  color $color-secondary
  font 22px/22px $font-secondary
  letter-spacing 0.08px
  margin 26px 0
  padding 22px 0

.large-text
  font 42px/42px $font-secondary

div.large-text
  border-top 1px dashed #fff
  margin 10px 0
  padding 5px 0

/*
 * Filters
 */

.logo
  float left
  margin 0 10px 0 0

.filters
  background rgba(#fff, .95)
  box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
  left 0
  height 100vh
  max-height 100vh
  max-width $filter-width
  overflow auto
  padding 30px 48px 20px
  position absolute
  top 0
  width 100%
  z-index 100

  &__options
    position relative

  .ui-select-toggle
  .ui-select-search
    background transparent url(/assets/images/magnifying-glass.svg) 0 50% no-repeat
    border 0
    border-bottom solid 1px #D0D3D5
    display block
    font-size 16px
    letter-spacing -.36px
    line-height 22px
    height 32px
    padding 5px 10px 5px 35px
    width 100%

    &:focus
      border-color $font-color-primary
      outline 0

  .ui-select-choices
    list-style none
    margin 0
    padding 0


  .ui-select-bootstrap .ui-select-choices-row.active > span
    background $color-secondary
    color #fff

  label
    display block
    margin-bottom 4px

/*
 * Stats
 */
.stats
  background rgba(#00748D, .94)
  box-shadow 0 0 6px 3px rgba(0, 0, 0, .15)
  color #fff
  font 22px/26px $font-secondary
  margin 20px -48px
  padding 16px 48px 16px
  position relative

  &:after
    background #fff
    bottom 100%
    content ''
    height 6px
    left 0
    position absolute
    right 0

/*
 * Map
 */

$animation-timing = .3s

.map-section
  height 100vh
  margin-left $filter-width
  padding 20px 20px 20px 0
  position relative
  width calc(100% - $filter-width)

.map
  height 100%
  width 100%

.leaflet-marker-icon
  background transparent
  border 0
  opacity .8

  &:before
    background url(/assets/images/marker.svg) 0 0 no-repeat
    background-size 30px 45px
    content ''
    display block
    height 100%
    left 0
    position absolute
    top 0
    transition transform cubic-bezier(.68, -.55, .265, 1.55) $animation-timing
    transform-origin 50% 100%
    width 100%
    will-change transform

    path
      fill #00748D

  &--hidden
    opacity 0
    visibility hidden
    transition opacity 1ms $animation-timing, visibility 1ms $animation-timing

    &:before
      transform scale(0, 0)


/*
 * Tablet
 */
@media $tablet
  .filters
    max-width none
    max-height 50vh
    overflow hidden

    &__copy
      float left

    &__options
      float right
      max-height 100%
      overflow auto

    &__copy
    &__options
      width 40%

  .map-section
    height 50vh
    margin 50vh 0 0
    padding 20px
    width 100%
