/* Typography */
$font-primary = 'LetteraTextStd', serif
$font-secondary = 'FrankfurterSB', sans-serif
$font-color-primary = #9B9B9B

/* Colors */
$color-primary = #24CE7B
$color-secondary = #35BFAE

/* Layout */
$filter-width = 435px

/* mediaqueries */
$width--mobile = 675px
$width--tablet = 1024px

$mobile = '(max-width: ' + ($width--mobile - 1) + ')'
$tablet = '(min-width: ' + ($width--mobile) + ') and (max-width: ' + ($width--tablet - 1) + ')'
$desktop = '(min-width: ' + $width--tablet + ')'
