/* Typography */
$font-primary = 'LetteraTextStd', serif
$font-secondary = 'OmnesMedium', sans-serif
$font-color-primary = #4a4a4a
$font-color-secondary = #9b9b9b

/* Colors */
$color-primary = #24CE7B
$color-secondary = #35BFAE
$color-tertiary = #00748D

/* Layout */
$header-height = 110px
$main-content-width = 380px
$filter-width = 380px

/* mediaqueries */
$width--mobile = 675px
$width--tablet = 1024px

$mobile = '(max-width: ' + ($width--mobile - 1) + ')'
$not-mobile = '(min-width: ' + ($width--mobile) + ')'
$tablet = '(min-width: ' + ($width--mobile) + ') and (max-width: ' + ($width--tablet - 1) + ')'
$desktop = '(min-width: ' + $width--tablet + ')'
