.about
  font-size calc(.7em + 1vh)
  font-weight normal
  line-height calc(1em + 1vh + 4px)
  margin 0 auto
  max-width 1020px
  overflow-wrap break-word
  padding 60px 20px
  word-wrap break-word
  word-break break-word
  hyphens auto
